@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700');


html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding: 0;
  margin: 0;
  height: 100%;
}

.row {
  margin: 0px;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.myhr {
  background: #e8e8e8;
  border: 0;
  height: 1px;
  margin: 50px 0 40px 0;
}

.navBar {
  height: 70px;
  width: 100%;
  border: 1px solid #E2E2E2;
  background-color: #F2F2F2;
}

.ourLogo {
  width: 62px;
  margin: 19px 0px 14px 26px;
  display: inline-block;
}

.navBarMiddleColumn {
  height: 60px;

}

.searchInput {
  height: 31px;
  width: 60%;
  margin: 16px 0px 0px 8px;
  border-radius: 4px;
  border: 1px solid #E2E2E2;
  font-size: .9em;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 0 0 10px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #e2e2e2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #e2e2e2;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #e2e2e2;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #e2e2e2;
}

.searchIcon {
  position: absolute;
  left: 35px;
  top: 24px;
}

.navCircle {
  border-radius: 50%;
  height: 53px;
  width: 53px;
  background-color: white;
  display: inline-block;
  float: right;
  margin: 8px 10px 0 14px;
}

.navIcon {
  margin: 16px 0 0 16px;
  color: #717171;
}

.navIcon:hover {
  color: #3e3e3e;
  cursor: pointer;
}

.profilePic {
  margin: 0px 0 0 -1px;
}

.leftColumn, .rightColumn {
/*  border: 1px solid green;*/
}

/*Daily Exposure*/

.leftColumn > nav > ul > li {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  font-size: 1.1em;
  letter-spacing: .065em;
  margin: 0 0 15px 0;
}

.dashTitle {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial;
    margin: 11px 0 0 0;
    letter-spacing: .05em;
}

.sideNav {
  margin: 20px 0 0 0;
}

.sideNav > ul > li:hover {
  cursor: pointer;
  color: black;
}

.circle {
  color: #42A766;
  position: absolute;
  left: 30px;
  top: 57px;

}

.dashRow {
  background-color: #FCFCFC;
}

.dashContainer {
  /*background-color: #f5f5f5;*/
  margin: 4px 0px 0px 0px;
 /* border: 1px solid blue;*/
  display: block;
}

.header {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  letter-spacing: .05em;
  margin: 0 0px 7px 21px;
}

.one-third-row {
  height: 130px;
  max-width: 270px;
  display: inline-block;
  margin: 0 20px 0 0;
}

.cardDesign {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
}

.rowContainer {
  width: 100%;
}

.moduleHeader {
  font-family: 'Muli';
  display: inline-block;
  height: 30px;
  width: 100%;
  text-align: center;
  margin: 31px 0 -11px 0;
  text-transform: uppercase;
  color: #333333;
  letter-spacing: .1em;
  font-size: .9em;
}

.moduleNumber {
  font-size: 3.1em;
  text-align: center;
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial;
  margin: -7px 0 0 0;
  text-transform: uppercase;
}

.timeFilter {
    height: 29px;
    display: inline-block;
    padding: 0 26px 40px 0px;
    margin: 0 0 0px 43px;
}

.timeFilter > ul > li {
  text-decoration: none;
  color: black;
  list-style-type: none;
  font-size: .45em;
  display: inline-block;
  margin: 0 18px 0 0px;
  text-transform: uppercase;
}

.timeFilter > ul > li:hover {
  font-weight: bold;
  cursor: pointer;
}

.graphImage  {
    margin: 19px 0 0 0;
}

.graphImage>img {
  width: 100%;
}

.position {
  text-transform: uppercase;
  font-family: 'Muli';
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: .06em;
  margin: 15px 0 14px 22px;
}

.posted {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 1em;
    letter-spacing: .02em;
    color: #a5a5a5;
    display: inline-block;
    margin: 0 0 0px 21px;
    text-transform: none;
}

.impressionsOverview {
  max-width: 408px;
  height: 135px;
  margin: 7px 28px 0 0;
}

.halfModule {
  width: 100%;
  height: 100%;
}

.halfHalfModule {
  height: 100%;
  width: 50%;
  display: inline-block;
  float: left;
  margin: 0 0 0px 0;
}

.halfHalfModuleNumber {
  font-size: 2.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  text-transform: uppercase;
  text-align: center;
}

.action {
  height: 102px;
  max-width: 890px;
  margin: 21px 0 0 0;
  border: 1px solid #42A766;
}

.actionHeader {
  font-size: 1.8em;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  letter-spacing: .05em;
  margin: 0 0 0 8px;
  display: inline;
}

.actionSubheader {
  font-size: 1em;
  margin: 6px 0 0 70px;
  font-family: 'Muli', sans-serif;
  font-weight: lighter;
  letter-spacing: .04em;
}

/*Candidate Patterns*/

.patternContainer {
  margin: 10px 0 0 0;
}

.moduleContainer {
  max-width: 200px;
  margin: 0 60px 32px 0;
  display: inline-block;
}

.candidatePatternModule {
  max-width: 200px;
  height: 107px;
  width: 200px;
}

.patternIcon {
  color: #5d5d5d;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 16px 0px 6px 0;
}

.patternTitle {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1.2em;
  color: #656565;
}

.patternSubtitle {
  text-align: center;
  margin: 13px 0 0 0;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #737373;
}

.patternSubtitleCaret {
  color: #FA9E6C;
  margin: 0 7px 0 0;
}

.subheader {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 1em;
  letter-spacing: .02em;
  color: #a5a5a5;
  display: inline-block;
  margin: 7px 0 10px 21px;
  text-transform: none;
}

/*Recommended Actions*/

.recommendIcon {
  margin: 19px 8px 0 21px;
}

.chevron {
  float: right;
  margin: -40px 10px 0 0;
  color: #505050;
}

.action:hover {
  border: 2px solid #42A766;
  cursor: pointer;
}

.mycaret {
  color: #42A766;
  margin: 0 11px 0 0
}

